<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth__zh_tw.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />

<script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-auth.js"></script>
<script>

  var uiConfig = {
    signInSuccessUrl: '/admin/auth-success',
    signInOptions: [{
      provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
      recaptchaParameters: {
        type: 'image', // 'audio'
        size: 'invisible', // 'invisible' or 'compact'
        badge: 'bottomright' //' bottomright' or 'inline' applies to invisible.
      },
      defaultCountry: 'HK'
    }
    ],
    // Terms of service url.
    tosUrl: '/pages/terms',
    // Privacy policy url.
    privacyPolicyUrl: '/pages/privacy',

    callbacks: {
      signInSuccessWithAuthResult: function(authResult, redirectUrl) {
        // User successfully signed in.
        // Return type determines whether we continue the redirect automatically
        // or whether we leave that to developer to handle.
        return true;
      },
      uiShown: function() {
        // The widget is rendered.
      }
    },
    // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
    signInFlow: 'popup',
  };

  // Initialize the FirebaseUI Widget using Firebase.
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  // The start method will wait until the DOM is loaded.
  ui.start('#firebaseui-auth-container', uiConfig);

</script>

<div class="container login-form">
    <div id="firebaseui-auth-container"></div>

    <form action="/admin/login" method="post" enctype="multipart/form-data">
        <div class="login-form-message">
            {{message}}
        </div>

        <div>
            <label>User Name</label><input type="text" name="user" />
        </div>
        <div>
            <label>password</label><input type="password" name="password" />
        </div>
        <input type="hidden" name="destination" value="{{destination}}" />
        <input type="submit">
        <div>v0.45</div>
    </form>


</div>