<li>
    <h3>{{item.model.name}}</h3>
    {% if item.items == blank %}
    no {{item.model.name}} found.
    {% else %}
    <input type="hidden" name=":{{item.items[0].constructor.jointTablePrefix}}[]" value="" />
    <ul>
        {% for x in item.items %}
        <li>
            <input type="checkbox" id="{{x.constructor.name}}{{x.id}}" name=":{{x.constructor.name}}[]" value="{{x.id}}"{{ x.linked | if : ' checked="checked"', "" }}/>
            <label for="{{x.constructor.name}}{{x.id}}">{{x.name | default:x.id}}</label>

            <!-- should not edit many to many from other model -->
            <!-- <a href="/admin/{{x.constructor.tableName}}/{{ x.id }}">[edit]</a> -->
        </li>
        {% endfor %}

    </ul>
    {% endif %}

</li>
