<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.name}}</title>
    <link rel="stylesheet" href="//media.shop-steam.com/media/css/normalize.css" >
    <link rel="stylesheet" href="//media.shop-steam.com/media/css/admin.css">

</head>
<body data-model="{{model.jointTablePrefix}}" data-action="{{action}}">
<header>
    <a href="/admin">{{site.name}}</a>
    <span>{{user_full_name}} ({{user_role}})</span>
    <a href="/admin/logout">Logout</a>
</header>
<div id="content">
    <aside>
        <ul>
            <li class="home">
                <a href="/admin/">Home</a>
            </li>
        </ul>
    </aside>
    <main>
        {{main}}
    </main>
</div>
<footer>
    <a href="/admin/settings">Settings</a>
</footer>
</body>
</html>