<div class="form-group">
    <div class="form-main">
        <div class="form-field-group">
            <header>
                <h5>2 orders to fulfil</h5>
            </header>
        </div>

        <div class="form-field-group">
            <header>
                <h5>Moving along nicely</h5>
                <div class="form-field-header-toolbar">
                    Steps 123
                </div>
            </header>
        </div>

        <div class="form-field-group">
            <header>
                <h5>我們誠摯邀請您試用 繁體中文 版 Shop Steam</h5>
                <div class="form-field-header-toolbar">
                    <a href="#">Change Language</a>
                    <a href="">Learn more</a>
                </div>
            </header>
        </div>

        <div class="form-field-group">
            <header>
                <h5>Start using Developer Tools for your next app or theme project</h5>
                <div class="form-field-header-toolbar">

                </div>
            </header>

            <div>
                <div>Make authenticated calls to the Admin API, generate dummy data for your development store, and interact with Polaris EASDK components.</div>
                <a href="#">Install Developer Tools</a>
            </div>

        </div>
    </div>

    <div class="form-supplement">
        <div class="form-field-group">
            <div>
                <header>
                    <h5>Customer overview</h5>
                    <div class="form-field-header-toolbar">
                        <a href="#">Edit</a>
                    </div>
                </header>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>