<header>
    <h1 class="admin-title">{{ type.tableName | capitalize }}</h1>

    <div class="admin-toolset">
        <a class="label-icon toolset-add" href="/admin/{{type.tableName}}/new">Create {{type.name}}</a>
    </div>
</header>

<table>
    {% for item in items %}
        <tr>
            <td><input type="checkbox" name="chk{{item.id}}" /></td>
            <td><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.id}}</a></td>
            <td><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name}}</a></td>
            <td>{{item.updated_at}}</td>
        </tr>
    {% endfor %}
</table>
