<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.name}}</title>
    <link rel="stylesheet" href="//media.shop-steam.com/media/css/normalize.css" >
    <link rel="stylesheet" href="//media.shop-steam.com/media/css/theme.css">
</head>
<body>
<header>
    I'm header
</header>
<main>
    {{main}}
</main>
<footer>
    I'm footer
</footer>

</body>
</html>